---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->

<ul>
  <li>
    <p>Rishi Veerapaneni, Arthur Jakobsson, <b>Kevin Ren</b>, Samuel Kim, Jiaoyang Li, Maxim Likhachev.
      <br/> 
    Work Smarter Not Harder: Simple Imitation Learning with CS-PIBT Outperforms Large Scale Imitation Learning for MAPF. 
      <br/> 
    <a href="https://arxiv.org/abs/2409.14491">[Preprint]</a>.
  </li>
  <li>
      <p><b>Kevin Ren</b>, Yewon Byun, Bryan Wilder.
        <br /> 
      Decision-Focused Evaluation of Worst-Case Distribution Shift.
       <br /> <strong><font color="#1A5276">UAI-24</font></strong>. 
       <em>Conference on Uncertainty in Artificial Intelligence</em>. 2024. 
       <a href="https://arxiv.org/abs/2407.03557v1">[arXiv]</a></p>
  </li>
  <li>
    <p>Rishi Veerapaneni, Qian Wang, <b>Kevin Ren</b>, Arthur Jakobsson, Jiaoyang Li, Maxim Likhachev.
      <br /> 
      Improving Learnt Local MAPF Policies with Heuristic Search.
     <br /> <strong><font color="#1A5276">ICAPS-24</font></strong>. 
     <em>Thirty-Fourth International Conference on Automated Planning and Scheduling</em>. 2024. 
     <a href="https://ojs.aaai.org/index.php/ICAPS/article/view/31522">[Link]</a></p>
  </li>
</ul>

<!-- {% for post in site.publications reversed %}
  {% if post.type == "year" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %} -->

<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



